<div id="topic container">
	<table class="quick_add">
		<% item = 1 %>
		<% @lastrun.topics.each do |topic| -%>
			<tr class="quick_add"><td>
			<b><%= "<a href=\"#{topic_path(topic)}\">Topic #{item}</a>" %></b></td></tr>
			<% topic.topic_tag_map.probability_ordered_tags.each do |tag| -%>
				<tr class="quick_add"><td>
				<%= "<a href=\"#{tag_path(tag)}\">#{tag.tag.to_s}</a>" %>
				</td></tr>
			<% end -%>			
			<% item = item+1 -%>
		<% end -%>
	</table>
</div>